#navBar {
	text-align: center;
	/* border-bottom: rgba(202, 105, 14) 3px solid; */
}

#navBar #volunteer:hover {
	/* background-color: orange; */
}
#navBar #restaurant:hover {
	background-color: rgba(0, 129, 119);
}
