#navBar {
	text-align: center;
	border-bottom: 0px;
	background-color: black;
	color: white;
}

#navBar #volunteer:hover {
	background-color: orange;
}
#navBar #restaurant:hover {
	background-color: rgba(0, 129, 119);
}

.user-photo {
	max-height: 40px;
	margin: -10px 5px -10px 10px;
}
