.board-name-row {
    background-color: lightskyblue;
    height: 50px;
    font-size: larger;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.scroll-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-list-container {
    min-width: 100%;
    margin: unset;
}

.card-cards-list {
    color: white;
    background-color: lightgray;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-list-row {
    width: 100%;
}

.card-cards-list .card-title {
    background-color: lightskyblue;
    text-align: center;
}

.cards-list-footer {
    padding: unset;
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.cards-list-footer .edit-icon {
    color: white;
    margin-left: 100px;
}

.cards-list-footer .edit-icon:hover {
    color: lightskyblue;
}

.cards-list-footer .trash-icon {
    color: white;
    margin-left: 20px;
}

.cards-list-footer .trash-icon:hover {
    color: red;
}

.add-card-to-list {
    margin-left: 120px;
}

.add-card-to-list:hover {
    color: lightskyblue;
}

.card-section {
    background-color: white;
    color: black;
    margin: 7px;
    text-align: center;
    min-height: 30px;
}

.col-card-trash {
    align-content: start;
    padding-left: 0px;
    margin-left: -20px;
}

.col-card-trash .fa-trash-alt:hover{
    color: red;
}

.col-card-edit {
    align-content: end;
    padding-right: 0px;
    margin-right: -20px;
}
.col-card-edit .fa-edit:hover {
    color: lightskyblue;
}

.col-card-title {
    min-width: 170px;
}