
.wrapper-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-board-wrapper {
    text-align: -webkit-left;
}

@media (max-width: 460px) {
    .col-board-wrapper {
        text-align: -webkit-center;
    }
}

.post-content-card .fa-plus {
    color: white;
}

.post-content-card .fa-plus:hover {
    color: lightskyblue;
}

.card-title {
    align-self: center;
}

.post-content {
    padding-top: 30px;
    margin-left: 0px;
    width: 100%;
}

.board-container {
    min-width: 100%;
    margin: unset;
}
.post-content-card {
    align-items: center;
    justify-content: center;
    font-size: larger;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.post-footer {
    padding: unset;
    border: none;
    background-color: transparent;
    margin-bottom: -20px;
}

.post-footer .edit-icon {
    margin-left: 230px;
    color: white;
}

.post-footer .edit-icon:hover {
    color: deepskyblue;
}

.post-footer .trash-icon {
    color: white;
}

.post-footer .trash-icon:hover {
    color: red;
}
