.avatar-container {
    align-items: center;
    max-width: 100%;
}


.avatar-icon {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.avatar-container .row {
    max-width: 100%;
}

.last-step {
    text-align: center;
    margin-top: 5%;
}

.create-avatar {
    margin-bottom: 10%;
}